@import "@fontsource/pacifico";
@import "@fontsource/outfit";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html,
  body {
    padding: 0;
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  }
}

html,
body {
  @apply font-outfit;
}
* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  /* color: #000; */
  background: transparent;
  margin-block: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 15px;
  /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
  visibility: unset;
  margin-right: 10px;
}

/* project time animatin  */
@media (min-width: 640px) {
  .title-fade-in {
    /* animation: upwardFadeIn 1s ease-in-out 1s; */
    transition: all 0.3s ease-in;
    margin-bottom: 0;
    opacity: 1;
  }
  .title-fade-out {
    transition: all 0.3s ease-out;
    margin-bottom: -1rem;
    opacity: 0;
  }
}

.bg-animated-image {
  /* background: #dedede;
  padding: 0.5rem !important; */
  /* background: #000; */
  /* margin: -0.5rem !important; */

  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: bgAnimation 8s ease-in-out infinite 1s;
  background-blend-mode: multiply;
  /* box-shadow: 0 0px 6px 2px rgb(0 0 0 / 0.05), 0 2px 4px 2px rgb(0 0 0 / 0.1); */
  /* -webkit-box-shadow: inset 0 0 0 9px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 0 0 9px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 0 9px rgba(255, 255, 255, 0.3); */
}
@keyframes bgAnimation {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 40% 60% 70% 40%/50% 60% 50% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

/* .active-nav-item {
  @apply border-b-2 border-primary;
  
} */
.nav-item {
  display: inline-block;
  color: #000;
  text-decoration: none;
}
.nav-item::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #000;
  transition: width 0.5s ease-in-out;
}
.active-nav-item::after {
  width: 100%;
}

.active-tab {
  @apply text-white bg-primary;
}

.tab {
  @apply px-4 py-2 cursor-pointer;

  transition: all 0.3s ease-out;
}

.btn-fill {
  @apply border-2  bg-primary border-primary text-white font-bold uppercase tracking-wider py-2 px-4 hover:bg-secondary hover:text-primary;
}

.btn-rounded {
  @apply border-2 border-primary font-bold uppercase tracking-wider py-2 px-4 rounded-full hover:text-secondary hover:bg-primary;
}
.btn {
  @apply border-2 border-primary font-bold uppercase tracking-wider py-2 px-4 hover:text-secondary hover:bg-primary;
}

.headline-text {
  @apply font-bold sm:text-4xl md:text-5xl text-3xl tracking-wider;
}
.sub-headline-text {
  @apply font-bold text-xl md:text-2xl tracking-wider;
}

.sideway-text {
  writing-mode: vertical-lr;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 30px;
  height: 50px;
  margin-left: -20px;
  bottom: 10px;
  margin-top: -35px;
  /* border: 2px solid rgba(0, 0, 0, 0.6); */
  border-radius: 25px;
}
@media (max-width: 767px) {
  .icon-scroll {
    position: relative;
  }
}
.icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  /* background: rgba(0, 0, 0, 0.6); */
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

/* ANIMATION  */

@keyframes upwardeFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes downwardFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(26px);
  }
}

.masked-overflow {
  /* scroll bar width, for use in mask calculations */
  --scrollbar-width: 8px;

  /* mask fade distance, for use in mask calculations */
  --mask-height: 40px;

  /* If content exceeds height of container, overflow! */
  overflow-y: auto;

  /* Our height limit */
  height: 100%;

  /* Need to make sure container has bottom space,
otherwise content at the bottom is always faded out */
  padding-bottom: var(--mask-height);

  /* Keep some space between content and scrollbar */
  padding-right: 10px;

  /* The CSS mask */

  /* The content mask is a linear gradient from top to bottom */
  --mask-image-content: linear-gradient(
    to bottom,
    transparent,
    black var(--mask-height),
    black calc(100% - var(--mask-height)),
    transparent
  );

  /* Here we scale the content gradient to the width of the container 
minus the scrollbar width. The height is the full container height */
  --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;

  /* The scrollbar mask is a black pixel */
  --mask-image-scrollbar: linear-gradient(black, black);

  /* The width of our black pixel is the width of the scrollbar.
The height is the full container height */
  --mask-size-scrollbar: var(--scrollbar-width) 100%;

  /* Apply the mask image and mask size variables */
  mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
  mask-size: var(--mask-size-content), var(--mask-size-scrollbar);

  /* Position the content gradient in the top left, and the 
scroll gradient in the top right */
  mask-position: 0 0, 100% 0;

  /* We don't repeat our mask images */
  mask-repeat: no-repeat, no-repeat;
}
